.MathJax {
    font-size: 1.8em;
}

#calendar-container .today {
    color: orange;
    font-weight: 600;
  }

/* Gradient headers from https://forum.obsidian.md/t/creating-clean-gradient-headers/65935 */
.cm-header-1 {
    font-weight: 900;
    background: rgb(198, 255, 221);
    background: radial-gradient(circle, #B2A4FF 0%, #FFB4B4 27%, #FFDEB4 53%, #FDF7C3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cm-header-2 {
    font-weight: 900;
    background: rgb(198, 255, 221);
    background: radial-gradient(circle, #D14D72 0%, #FFABAB 27%, #FCC8D1 53%, #FEF2F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cm-header-3 {
    font-weight: 900;
    background: rgb(198, 255, 221);
    background: radial-gradient(circle, #C4DFDF 0%, #D2E9E9 27%, #E3F4F4 53%, #F8F6F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cm-header-4 {
    font-weight: 900;
    background: rgb(198, 255, 221);
    background: radial-gradient(circle, #B799FF 0%, #ACBCFF 27%, #AEE2FF 53%, #E6FFFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cm-header-5 {
    font-weight: 900;
    background: rgb(198, 255, 221);
    background: radial-gradient(circle, #73A9AD 0%, #B3C890 27%, #DBDFAA 53%, #F5F0BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cm-header-6 {
    font-weight: 900;
    background: rgb(198, 255, 221);
    background: radial-gradient(circle, #F2BED1 0%, #FDCEDF 27%, #F8E8EE 53%, #F9F5F6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}